    <h1> eat the burger </h1>

    <div class="col-xs-6 text-center" class="task">
      <div class="row">
          <ul>
            {{#each burger_data}} 
              {{#unless devoured}}
                {{> burger/burger-block devoured=true}}
              {{/unless}}
            {{/each}}
          </ul>
      </div>
    </div>
    <h2>Time to Eat a Burger<h2>
    <div class="col-xs-6 text-center" class="task">
      <ul>
        {{#each burger_data}}
          {{#if devoured}}
            {{burger_name}}
          {{/if}}
        {{/each}}
      </ul>
    </div>
<h2>Add a burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burger">burger Name:</label>
    <input type="text" id="bg" name="name">
  </div>

  <div class="form-group">
    <label for="devoured">devoured?</label><br>
  <button type="submit">Add a burger</button>
</form>
